footer.main-footer(style="background-image: url('static/img/general/map-footer.png')")
	.container.container__footer
		.main-footer__logo
			a(href="#")
				img(src="static/img/content/logo.png", alt="")
			img.separator(src="static/img/sprite/separator.png", alt="")
			p Дисклеймер компании
		.main-footer__social
			h3 Мы в соцсетях
			img(src="static/img/sprite/separator.png", alt="")
			.social__buttons
				a(href="#")
					i.fa.fa-instagram
				a(href="#")
					i.fa.fa-twitter
				a(href="#")
					i.fa.fa-facebook
		.main-footer__address
			h3 адрес
			img(src="static/img/sprite/separator.png", alt="")
			p г. Минск, ул. Скрыганова, 6А,<br>4 этаж
.copyright
	p Copyrights 2015 © Webcom Media 			

				

