header
	.container
		.wrap
			.logo
				img(src="static/img/content/logo.png", alt="")
			ul.main-nav__list
				li.active
					a(href="#").main-nav__link Главная
				li
					a(href="#").main-nav__link Портфолио
				li
					a(href="#").main-nav__link Преимущества
				li
					a(href="#").main-nav__link Схема работы
				li
					a(href="#").main-nav__link Отзывы
				li.last
					a(href="#").main-nav__link Контакты	
			ul.tel-number__list
				li
					a(href="#").tel-number__link +375 (29) 123-45-67	
				li.last
					a(href="#").tel-number__link +375 (33) 123-45-67			