.navbar
	ul.navbar__list
		li
			a(href="#top-slider").active.js_first
		li
			a(href="#our-jobs")
		li
			a(href="#advantages")
		li.last
			a(href="#reviews")


a.button_up(href="#top-slider")
	i.fa.fa-angle-up

.mobile-buttton
	span
	span
	span

.mobile-menu
	ul.mobile-menu__list
		li
			a(href="#top-slider").main-nav__link Главная
		li
			a(href="#our-jobs").main-nav__link Портфолио
		li
			a(href="#advantages").main-nav__link Преимущества
		li
			a(href="#reviews").main-nav__link Контакты	
