@media (max-width: 1400px)
	.container_wide
		justify-content space-around
		.our-jobs__item
			margin 10px 
			&_second
				width 460px
	.main-footer
		padding-left 10px		
		padding-right 10px		

// Tablet - Mobile
@media (max-width: 1024px)
	@media (min-width: 320px)
		.reviews
			.container-narrow
				justify-content center

// Tablet
@media (max-width : 1024px)
	.owl-theme
		.owl-nav
			.owl-prev
				left 30px
	.owl-theme
		.owl-nav
			.owl-next
				right 30px	
	.top-slider__description
		p
			font-size 20px
	.top-slider__text
		h1
			font-size 40px
			margin-bottom 40px
	.top-slider__.button
		font-size 20px				
	@media (min-width : 768px)
		// .row


// Mobile
@media (max-width : 767px)
	.container_wide
		.our-jobs__item
			margin-right 0
			margin-left 0
	@media (min-width : 320px)
		// .row


// Mobile iPhone 6 and 6 plus
@media (max-width : 736px)
		.top-slider__text
			
			h1
				font-size 30px
				margin-bottom 35px
		.owl-carousel
			.owl-item
				img
					margin: 0 auto
					width 80%
		.top-slider__description
			p
				font-size 16px
				line-height 1.3				
	@media (min-width :  375px) 
		// .row


//Mobile iPhone 5
@media (max-width : 568px)
	.main-footer
		.container__footer
			flex-direction column
			align-items center
	.main-footer
		.container__footer
			.main-footer__logo, .main-footer__social
				margin-bottom 30px
			.main-footer__address	
				text-align center
			.main-footer__logo 
				img.separator
					margin: 25px auto 20px
	.owl-theme
		.owl-nav
			.owl-prev
				left 10px
	.owl-theme
		.owl-nav
			.owl-next
				right 10px			
	.top-slider__.button
		font-size: 16px
		padding: 15px 25px
		margin-top 15px		
	.line-decoration
		margin-bottom 30px				
	@media (min-width : 320px)
		.main-footer
			.container__footer
				.main-footer__social, .main-footer__address
					img
						margin: 15px auto			