.advantages
	padding-top 55px
	padding-bottom 65px
.advantages__wrap
	margin-top 50px
	display flex
	justify-content space-around
	.advantages__item
		display inline-block
		width 240px
		height 190px
		text-align center
		.icon-advantages
			display inline-block
			width: auto
			height 40px
		h3
			margin-top 25px
			text-transform uppercase
			color: dark-blue
			font-family: boldFont
			font-size 16px
			letter-spacing: .1em
		p
			margin-top 20px
			color: #8198a0
			font-size 16px
			line-height 26px		
			letter-spacing: .01em
			