.top-slider
	display block
	max-height 1000px
	position relative
	.top-slider__item
		background-size: cover
		border-bottom 3px solid accent
.button-wrap
	position absolute
	bottom 10px
	width 100%
	z-index: 2000
	text-align center
	.button-down
		display inline-block
		height 54px
		width 54px
		border-radius: 50%
		background-color: dark-blue
		opacity .6	
		margin: auto
		
		text-align center
		i
			color #fff
			text-align center
			padding-top 15px
			font-size 26px
			transition color .25s ease
		&:hover
			i
				color: accent	

.top-slider__text
	height 100vh
	//height "calc(%s - %s)" % (measure arrow-size)
	text-align center
	display flex		
	align-items: center
	justify-content: center
	flex-direction: column
	h1
		font-size 48px
		font-family boldFont
		letter-spacing .4em
		text-transform uppercase
		color: dark-blue
		text-align center
		margin-bottom 50px
.top-slider__description
	text-align center
	p
		letter-spacing .06em
		text-transform uppercase
		line-height 1.5
		font-size 24px
		color: dark-blue
		display inline-block
		width 100%
		max-width 780px
		
.line-decoration
	display inline-block
	margin-bottom 45px
	
.top-slider__.button
	font-size 32px
	letter-spacing .06em
	color #fff
	font-family: boldFont
	text-transform uppercase
	padding 25px 35px
	background-color: accent
	border-radius: 10px
	margin-top 30px
	border: none
	cursor pointer
	
.owl-theme 		
	.owl-nav
		display block
		width: 100%
		max-width 1400px
		position absolute
		top 50%
		font-size 80px
		color accent
		.owl-prev
			display inline-block
			position absolute
			left 90px
		.owl-next
			display inline-block
			position absolute
			right 90px
	.owl-dots
		position absolute
		bottom: 12%
		width 100%
		margin-top 0
		text-align center
		
		.owl-dot
			width 20px
			height 20px
			background-color #28363d
			display inline-block
			margin-right 12px
			border-radius: 50%
			transition all .25s ease
			&.active
				background-color accent
			&:last-child
				margin-right 0
	