section.advantages
	.container
		.header__section
			h2 почему мы
			img(src="static/img/sprite/separator.png", alt="")
			.header__description
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores molestiae optio pariatur explicabo voluptate, quia natus quasi amet<br>fuga voluptatem reprehenderit esse tempore nisi deserunt, perferendis, provident nesciunt labore velit.
		.advantages__wrap
			.advantages__item
				img.icon-advantages(src="static/img/sprite/Monitor.png", alt="")
				h3 Преимущество 1
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis voluptatem.
			.advantages__item
				img.icon-advantages(src="static/img/sprite/Magic-wand.png", alt="")
				h3 Преимущество 2
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis voluptatem.
			.advantages__item
				img.icon-advantages(src="static/img/sprite/Rocket.png", alt="")
				h3 Преимущество 3
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis voluptatem.
			.advantages__item
				img.icon-advantages(src="static/img/sprite/Globe-2.png", alt="")
				h3 Преимущество 4
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis voluptatem.
		.advantages__wrap
			.advantages__item
				img.icon-advantages(src="static/img/sprite/Settings.png", alt="")
				h3 Преимущество 5
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis voluptatem.
			.advantages__item
				img.icon-advantages(src="static/img/sprite/Layers.png", alt="")
				h3 Преимущество 6
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis voluptatem.
			.advantages__item
				img.icon-advantages(src="static/img/sprite/Wrench.png", alt="")
				h3 Преимущество 7
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis voluptatem.
			.advantages__item
				img.icon-advantages(src="static/img/sprite/note.png", alt="")
				h3 Преимущество 8
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis voluptatem.							