section.advantages#advantages
	.container
		.header__section
			h2 почему мы
			img(src="static/img/content/separator.png", alt="")
			.header__description
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores molestiae optio pariatur explicabo voluptate, quia natus quasi ametfuga voluptatem reprehenderit esse tempore nisi deserunt, perferendis.
		.advantages__wrap
			.advantages__item
				img.icon-advantages(src="static/img/content/Monitor.png", alt="")
				h3 Преимущество 1
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis voluptatem.
			.advantages__item
				img.icon-advantages(src="static/img/content/Magic-wand.png", alt="")
				h3 Преимущество 2
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis voluptatem.
			.advantages__item
				img.icon-advantages(src="static/img/content/Rocket.png", alt="")
				h3 Преимущество 3
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis voluptatem.
			.advantages__item
				img.icon-advantages(src="static/img/content/Globe-2.png", alt="")
				h3 Преимущество 4
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis voluptatem.
		.advantages__wrap
			.advantages__item
				img.icon-advantages(src="static/img/content/Settings.png", alt="")
				h3 Преимущество 5
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis voluptatem.
			.advantages__item
				img.icon-advantages(src="static/img/content/Layers.png", alt="")
				h3 Преимущество 6
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis voluptatem.
			.advantages__item
				img.icon-advantages(src="static/img/content/Wrench.png", alt="")
				h3 Преимущество 7
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis voluptatem.
			.advantages__item
				img.icon-advantages(src="static/img/content/note.png", alt="")
				h3 Преимущество 8
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, blanditiis voluptatem.							