section.our-jobs(style="background-image: url('static/img/general/bg-our-jobs.jpg')")
	.container
		.header__section
			h2 Наша работа
			img(src="static/img/sprite/separator.png", alt="")
			.header__description
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores molestiae optio pariatur explicabo voluptate, quia natus quasi ametfuga voluptatem reprehenderit esse tempore nisi deserunt, perferendis.
	.container.container_wide
		.our-jobs__item
			img(src="static/img/general/photo-jobs.png", alt="")
			.item__description
				h3 название работы
				img(src="static/img/sprite/separator.png", alt="")
				p описание работы
		.our-jobs__item.our-jobs__item_second
			img(src="static/img/general/photo-jobs.png", alt="")
			.item__description
				h3 название работы
				img(src="static/img/sprite/separator.png", alt="")
				p описание работы
		.our-jobs__item
			img(src="static/img/general/photo-jobs.png", alt="")
			.item__description
				h3 название работы
				img(src="static/img/sprite/separator.png", alt="")
				p описание работы
		.our-jobs__item
			img(src="static/img/general/photo-jobs.png", alt="")
			.item__description
				h3 название работы
				img(src="static/img/sprite/separator.png", alt="")
				p описание работы
		.our-jobs__item.our-jobs__item_second
			img(src="static/img/general/photo-jobs.png", alt="")
			.item__description
				h3 название работы
				img(src="static/img/sprite/separator.png", alt="")
				p описание работы
		.our-jobs__item
			img(src="static/img/general/photo-jobs.png", alt="")
			.item__description
				h3 название работы
				img(src="static/img/sprite/separator.png", alt="")
				p описание работы