section.reviews#reviews
	.container
		.header__section
			h2 добавьте отзыв
			img(src="static/img/sprite/separator.png", alt="")
			.header__description
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores molestiae optio pariatur explicabo voluptate, quia natus quasi ametfuga voluptatem reprehenderit esse tempore nisi deserunt, perferendis.
	.container-narrow
		.form-wrap
			form.main_form(novalidate)
				label.form-group
					span.color-element Ваше имя
					input(type="text" name="name" placeholder="Иванов Иван" data-validation-required-message="Пожалуйста, введите ваше имя" required)
					span.help-block.text-danger
				label.form-group
					span.color-element E-mail
					input(type="email" name="email" placeholder="Example@mysite.com" data-validation-required-message="Email не введен" data-validation-email-message="Адресс почты указан некорректно" required)
					span.help-block.text-danger
				label.form-group
					span.color-element Ваша должность
					input(type="text" name="post" placeholder="Должность" data-validation-required-message="Пожалуйста, введите вашу должность" required)
					span.help-block.text-danger
				label.form-group
					span.color-element Отзыв
					textarea(rows="5" name="text" placeholder="Ваше сообщение" data-validation-required-message="Вы не ввели сообщение" required)
					span.help-block.text-danger
				label.form-group.form-group_upload
					.file-upload +
						input.upload(type="file" name="image" data-validation-required-message="Вы не ввели сообщение" accept="image/jpeg")
					span.color-element Фото
					span.help-block.text-danger
				label.form-group
					span.color-element Введите код с картинки
					input.captcha(type="text" name="captcha" data-validation-required-message="Пожалуйста, введите еще раз" required)
					span.help-block.text-danger
				button.submit_b Отправить
		.contacts
			h3.contacts-first__h3 наш адрес
			p г. Минск, ул. Скрыганова, 6А, 4 этаж
			h3 звоните
			span
				a(href="tel:+375 (29) 123-45-67") +375 (29) 123-45-67
			span.span-comma ,	
				a(href="tel:+375 (33) 123-45-67") +375 (33) 123-45-67
			h3 пишите
			span
				a(href="mailto:info@promo-webcom.by") info@promo-webcom.by
		
				
