<<<<<<< HEAD
section.top-slider#top-slider
	.button-wrap
		a.button-down(href="#our-jobs") 
			i.fa.fa-angle-down
=======
section.top-slider
>>>>>>> parent of 4574963... add slide separator
	.owl-carousel.owl-theme
		.top-slider__item(style="background-image: url('static/img/general/slider.jpg')")
			.container
				.top-slider_text
					h1 Главный заголовок
					.line-decoration
<<<<<<< HEAD
						img(src="static/img/content/slide-separator.png", alt="")
					.top-slider__description
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis necessitatibus tempore illum, magni ipsa accusantium quaerat itaque vero.		
					button.top-slider__.button Оформить заявку

		.top-slider__item(style="background-image: url('static/img/general/bg-our-jobs.jpg')")
			.container
				.top-slider__text
					h1 Второй заголовок
					.line-decoration
						img(src="static/img/content/slide-separator.png", alt="")
					.top-slider__description
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis necessitatibus tempore illum, magni ipsa accusantium quaerat itaque vero.		
					button.top-slider__.button Оформить заявку
		.top-slider__item(style="background-image: url('static/img/general/slider.jpg')")
			.container
				.top-slider__text
					h1 Третий заголовок
					.line-decoration
						img(src="static/img/content/slide-separator.png", alt="")
					.top-slider__description
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis necessitatibus tempore illum, magni ipsa accusantium quaerat itaque vero.		
					button.top-slider__.button Оформить заявку
		.top-slider__item(style="background-image: url('static/img/general/bg-our-jobs.jpg')")
			.container
				.top-slider__text
					h1 Четвертый заголовок
					.line-decoration
						img(src="static/img/content/slide-separator.png", alt="")
					.top-slider__description
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis necessitatibus tempore illum, magni ipsa accusantium quaerat itaque vero.		
					button.top-slider__.button Оформить заявку
		.top-slider__item(style="background-image: url('static/img/general/slider.jpg')")
			.container
				.top-slider__text
					h1 Пятый заголовок
					.line-decoration
						img(src="static/img/content/slide-separator.png", alt="")
					.top-slider__description
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis necessitatibus tempore illum, magni ipsa accusantium quaerat itaque vero.		
					button.top-slider__.button Оформить заявку
=======
		.top-slider__item(style="background-image: url('static/img/general/bg-our-jobs.jpg')")
			.container
				.top-slider_text
>>>>>>> parent of 4574963... add slide separator
