section.top-slider
	.owl-carousel.owl-theme
		.top-slider__item(style="background-image: url('static/img/general/slider.jpg')")
			.container
				.top-slider_text
					h1 Главный заголовок
					.line-decoration
		.top-slider__item(style="background-image: url('static/img/general/bg-our-jobs.jpg')")
			.container
				.top-slider_text
